<!-- Brand -->
<div class="brand">
    <img src="{{settings.baseURL}}/size 220.png" alt="brand logo"/>
</div>
<!--/ Brand -->

<!-- Lost password form -->
<form class="form-horizontal rounded shadow" ng-submit="submit(user)">
    <div class="sign-header">
        <div class="form-group">
            <div class="sign-text">
                <span>Reset your password</span>
            </div>
        </div>
    </div>
    <div class="sign-body">
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                <span ng-show="_isVisible||false" style="color:red">{{msg}}</span>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <div class="input-group input-group-lg rounded">
                <input type="text" class="form-control" placeholder="Username" ng-model="user.username" >
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            </div>
        </div>
    </div>
    <div class="sign-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded">Send reset email</button>
        </div>
    </div>
</form>
<!--/ Lost password form -->

<!-- Content text -->
<p class="text-muted text-center sign-link">Back to <a data-ng-href="#/sign-in"> Sign in</a></p>
<!--/ Content text -->