<style>
    #AlertBox {
        position: absolute;
        z-index: 1400;
        top: -1%;
        right: 4%;
        margin: 0px auto;
        text-align: center;
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- Start table horizontal scroll -->
        <div class="table-responsive mb-20">
            <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;padding: 10px;">Successfully performed</div>
            <button class="btn btn-info" ng-click="add()" style="width:100px;margin-bottom:10px;">Add</button>

            <table class="table table-striped table-success">
                <thead>
                    <tr>
                        <th class="text-center border-right" style="width:50px">No.</th>
                        <th class="text-center border-right">Details</th>
                        <th class="text-center border-right">First-prize</th>
                        <th class="text-center border-right">Second-prize</th>
                        <th class="text-center border-right">Third-prize</th>

                        <th class="text-center border-right">Date Time</th>
                        <th class="text-center border-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="table in draws" ng-if="table.is_delete!=true">
                        <td class="text-center border-right" style="width:50px;padding-top:22px">{{$index + 1}}</td>
                        <td class="border-right">
                            Value: {{table.value||'not processed'}}
                            <br> Date: {{table.date||'not processed'}}
                            <br> Held At: {{table.held_at||'not processed'}}
                            <br> Draw Number: {{table.draw_number||'not processed'}}
                            <br> Series: {{table.series||'not processed'}}
                        </td>
                        <td class="border-right">value: {{table.prize[0].value||0}}
                            <br>persons: {{table.prize[0].number.length||0}}</td>
                        <td class="border-right">value: {{table.prize[1].value||0}}
                            <br>persons: {{table.prize[1].number.length||0}}</td>
                        <td class="border-right">value: {{table.prize[2].value||0}}
                            <br>persons: {{table.prize[2].number.length||0}}</td>

                        <td class="text-center border-right" style="padding-top:22px">{{table.created_at | amDateFormat:'DD MMM, YY | hh:mm A'}}</td>
                        <td class="text-center" style="padding-top:22px">
                            <a data-tooltip class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="processing"
                                ng-click="processing(table);" target="_blank" ng-disabled="table.is_processed">
                                <i class="fa fa-play"></i>
                            </a>

                            <a data-tooltip class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="send notifications"
                                ng-click="notif(table);" target="_blank" ng-disabled="!table.is_processed">
                                <i class="fa fa-paper-plane"></i>
                            </a>

                            <!--<a data-tooltip  class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top"  ng-click="delete(table);" data-original-title="Delete"><i class="fa fa-trash"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <!--/ End table horizontal scroll -->
    </div>
</div>
<!-- /.row -->



<script type="text/ng-template" id="AddForm.html">
    <div class="modal-header">
        <h3>{{title}}</h3>
        <span style="color:red" ng-show="_isText_fill||false">please fill all fields</span>
    </div>
    <div class="modal-body">

        <form class="tab-content form-horizontal" ng-submit="submit(item)" enctype='multipart/form-data' method="post" class="modal-body"
            class="form-horizontal form-bordered">

            <!--<div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" ng-model="item.name">
            </div>-->

            <div class="form-group">
                <label class="control-label">Attach File</label>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                        <img src={{imgsrc|| "default-image.jpg"}} alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                    <div ng-show="imageButtons||false">
                        <span class="btn btn-info btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" file-model="xlsfile" name="file" accept=".xls,.xlsx">
                        </span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
            </div>

            <button class="btn btn-success" type="submit">Submit</button>

        </form>


    </div>

</script>