<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <a href="#" class="close">&times;</a>
    <div class="media">
        <a class="pull-left has-notif avatar" data-ng-href="#/profilePage">
            <img src="{{settings.baseURL}}/size 50.png" alt="admin">
            <i class="online"></i>
        </a>
        <div class="media-body">
            <h4 class="media-heading">Hello, <span>{{_username}}</span></h4>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<!-- Start left navigation - menu -->
<ul data-collapse-menu class="sidebar-menu">

    <!-- Start navigation - dashboard -->
    <!--<li class="active">
        <a href="#/dashboard" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>-->
    <!--/ End navigation - dashboard -->

    <li>
    <a href="#/draws" data-active-menu>
        <span class="icon"><i class="fa"><img src="/ic_spinitems.png" width="18px" height="18px"></i></span>
        <span class="text">Draws</span>
    </a>
    </li>
    <li>
        <a href="#/notification" data-active-menu>
            <span class="icon"><i class="fa"><img src="/ic_spinitems.png" width="18px" height="18px"></i></span>
            <span class="text">Notifications</span>
        </a>
        </li>
    
    <!-- <li>
        <a href="#/app-settings" data-active-menu>
            <span class="icon"><i class="fa"><img src="/ic_settings.png" width="18px" height="18px"></i></span>
            <span class="text">Settings</span>
        </a>
    </li> -->
</ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<!--<div class="sidebar-footer hidden-xs hidden-sm hidden-md">
    <a data-setting class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
    <a data-fullscreen class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
    <a data-lock-screen  class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
    <a data-logout class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
</div>--><!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->