<style>
     #AlertBox{position:absolute;z-index:1400;top:-2%;right:4%;margin:0px auto;text-align:center;display:none;}
</style>
<div class="row">
    <div class="col-md-6">
    <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;
    border-color: #d6e9c6;padding: 10px;">Successfully performed</div>
        <!-- Start input fields - basic form -->
        <div class="panel rounded shadow">
            <div class="panel-body">

                <form ng-submit="form_submit(user)">
                    
                    <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="form-control rounded" type="text" ng-model="user.name">
                        </div><!-- /.form-group -->

                    <div class="form-group">
                            <label class="control-label">Email</label>
                            <input class="form-control rounded" type="email" ng-model="user.email">
                        </div><!-- /.form-group -->
                     <div class="form-group">
                            <label class="control-label">Role</label>
                            <input class="form-control rounded" type="text" ng-model="user.role" disabled="disabled">
                        </div><!-- /.form-group -->
                     <div class="form-group">
                            <label class="control-label">Username</label>
                            <input class="form-control rounded" type="text" ng-model="user.username" disabled="disabled">
                        </div><!-- /.form-group -->
                     <div class="form-group">
                            <label class="control-label">Password</label>
                            <input class="form-control rounded" type="password" ng-model="user.password" placeholder="********">
                        </div><!-- /.form-group -->
                    
                    
                    
                    <div class="form-footer">
                        <div class="pull-right">
                            <button class="btn btn-success" type="submit" style="width:100px;">Save</button>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.form-footer -->
                </form>

            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
        <!--/ End input fields - basic form-->

    </div><!-- /.col-md-6 -->


<script type="text/ng-template" id="profile.html">
        <div class="modal-header">
            <h3>Account Confirmation</h3>
            <span style="color:red" ng-show="_isText_fill||false">{{_error}}</span>
        </div>
        <div class="row">
    <div class="col-md-12">
        <div class="panel rounded shadow">
            <div class="panel-body">
        <form ng-submit="form_submit(user)">
                    
            <div class="form-group">
                    <label class="control-label">Old Password</label>
                    <input class="form-control rounded" type="password" ng-model="user.pass1">
                </div><!-- /.form-group -->
        </form>

            <div class="form-footer">
                <div class="pull-right">
                   <button class="btn btn-primary mr-5" type="button" ng-click="passCheck(user);">OK</button>
                    <button class="btn btn-danger mr-5" type="button" ng-click="cancel();">Cancel</button>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.form-footer -->
            </div>
            </div>
             </div>
            </div>


    </script>