<style>
    #AlertBox {
        position: absolute;
        z-index: 1400;
        top: -2%;
        right: 4%;
        margin: 0px auto;
        text-align: center;
        display: none;
    }

    #AlertBoxUnsuccess {
        position: absolute;
        z-index: 1400;
        top: -2%;
        right: 4%;
        margin: 0px auto;
        text-align: center;
        display: none;
    }
</style>

<div class="panel rounded shadow">
    <div class="panel-body">


        <div id="AlertBox" class="alert alert-success" data-alert="alert" style="color: #3c763d;background-color: #dff0d8;
            border-color: #d6e9c6;padding: 10px;"></div>


        <div id="AlertBoxUnsuccess" class="alert alert-danger" data-alert="alert" style="color: #ed5249
            ;background-color: #dff0d8;
            border-color: #d6e9c6;padding: 10px;"></div>

        <form ng-submit="form_submit(user)">

            <input type="radio" ng-model="user.isBroadcast" name="favoriteColors" value="true" ng-click="userIdfieldDisabled = true"
                checked="checked" /> Broadcast
            <br>
            <input type="radio" ng-model="user.isBroadcast" name="favoriteColors" value="false" ng-click="userIdfieldDisabled = false"
            /> Send to user
            <br>
            <br>

            <div class="form-group">

                <input class="form-control rounded" ng-disabled="user.isBroadcast=='true'" placeholder="user id" ng-model="user.id" required>
            </div>

            <div class="form-group">

                <input class="form-control rounded" type="text" placeholder=" message" ng-model="user.message" required>
            </div>
            <!-- /.form-group -->
            <div class="form-footer">
                <div class="pull-right">
                    <button class="btn btn-success" type="submit" style="width:100px;">Send</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /.form-footer -->
        </form>

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->